<nav>
  <ul>
    <a href="/games"><li>Games</li></a>
    <a href="/genres"><li>Genres</li></a>
    <a href="/newGenre"><li>Add Genre</li></a>
    <a href="/newGame"><li>Add Game</li></a>
  </ul>
</nav>
