<div class="nav">
  <nav>
    <ul class="navb">
      <a href="/games"><li class="list">Games</li></a>
      <a href="/genres"><li class="list">Genres</li></a>
      <a href="/newGenre"><li class="list">Add Genre</li></a>
      <a href="/newGame"><li class="list">Add Game</li></a>
    </ul>
  </nav>
</div>
