<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/body.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap"
      rel="stylesheet"
    />
    <title>New Genre</title>
  </head>
  <body>
    <div class="main">
      <div class="headerNavFooterContent">
        <%- include('header') %>
        <div class="navFooterContent">
          <%- include('navbar') %>
          <div class="footerContent">
            <div class="content">
              <%- include("partials/errors.ejs") %>
              <form action="/newGenre" method="post">
                <label for="genrename">Name :</label>
                <input type="text" name="genrename" id="genrename" />
                <label for="description">Description :</label>
                <input type="text" name="description" id="description" />
                <a href="/"><Button type="button">Back</Button></a>
                <button type="submit">Submit</button>
              </form>
            </div>
            <%- include('footer') %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
