<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Game</title>
  </head>
  <body>
    <%- include("partials/errors.ejs") %>
    <form action="/newGame" method="post">
      <label for="gamename">Name :</label>
      <input type="text" name="gamename" id="gamename" />
      <label for="gamedesc">Description :</label>
      <input type="text" name="gamedesc" id="gamedesc" />
      <label for="gameprice">Price :</label>
      <input type="text" name="gameprice" id="gameprice" />
      <label for="genre">Select Genre :</label>
      <select name="genre" id="genre" multiple>
        <%for (let genrename of genrenames){%>
        <option value="<%=genrename.genreid%>"><%=genrename.genrename%></option>
        <%}%>
      </select>
      <a href="/"><button type="button">Back</button></a>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
